{% extends "layout.html" %}

{% block title %}
    Add Day
{% endblock %}

{% block body %}
    <h1 class="title">Add Day</h1>
    <form action="/add" method="POST">
        <select name="mtn">
            <option selected class="form-select" name="blank" value="0"></option>
            <option class="form-select" name="Attitash" value="Attitash">Attitash</option>
            <option class="form-select" name="Cannon" value="Cannon">Cannon</option>
            <option class="form-select" name="Crotched" value="Crotched">Crotched</option>
            <option class="form-select" name="Heavenly" value="Heavenly">Heavenly</option>
            <option class="form-select" name="Jay" value="Jay">Jay Peak</option>
            <option class="form-select" name="Kirkwood" value="Kirkwood">Kirkwood</option>
            <option class="form-select" name="MtSnow" value="MtSnow">Mt. Snow</option>
            <option class="form-select" name="Northstar" value="Northstar">Northstar</option>
            <option class="form-select" name="Okemo" value="Okemo">Okemo</option>
            <option class="form-select" name="Ragged" value="Ragged">Ragged</option>
            <option class="form-select" name="Sierra" value="Sierra">Sierra at Tahoe</option>
            <option class="form-select" name="Sunapee" value="Sunapee">Sunapee</option>
            <option class="form-select" name="Wildcat" value="Wildcat">Wildcat</option>
        </select>
        <input autocomplete="off" class="" name="date" placeholder="mm/dd/yyyy" type="date">
        <input class="" name="hours" type="number">
        <button type="submit">Add</button>
    </form>
{% endblock %}